{{#each errors}}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
    {{text}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    </div>
{{/each}}
<div class="col-md-4 mx-auto">
    <div class="card">
        <div class="cardh-header">
            <h3>Datos codvid</h3>
        </div>
        <div class="card-body">
            <form action="/addToRedis" method="POST">
                <div class="form-group">
                    <input type="text" name="Nombre" class="form-control" placeholder="Nombre" autofocus>
                </div>
                <div class="form-group">
                    <input type="text" name="Departamento" class="form-control" placeholder="Departamento">
                </div>
                <div class="form-group">
                    <input type="text" name="Edad" class="form-control" placeholder="Edad">
                </div>
                <div class="form-group">
                    <input type="text" name="Forma_contagio" class="form-control" placeholder="Forma de contagio">
                </div>
                <div class="form-group">
                    <input type="text" name="Estado" class="form-control" placeholder="Estado">
                </div>
                <div class="form-group">
                    <button class="btn btn-primary btn-block" type="submit">guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>
